In [77]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict
from collections import Counter
from scipy.sparse import csr_matrix, find
import numpy as np
from sklearn.cluster import KMeans
import numpy as np
import random
from sklearn.metrics.cluster import normalized_mutual_info_score
from sklearn.utils import shuffle
from sklearn.metrics import calinski_harabaz_score
pd.options.display.max_columns = 100000
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
import matplotlib.pyplot as plt
import string
import collections
 
from nltk import word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from pprint import pprint

In [80]:
df_types = pd.read_csv(r'4029_categories_clustering_200.csv', header = 0, sep =',')
df_types[:5]

   typeId                                   categories_lists
0       0  ['Dessert Shop', 'Ice Cream Shop', 'Bakery', '...
1       1  ['Beauty Salon', 'Cosmetics Store', 'Day Spa',...
2       2  ['Fast Food Restaurant', 'Mexican Restaurant',...
3       3  ['Restaurant', 'Cafe', 'Mexican Restaurant', '...
4       4  ['Chinese Restaurant', 'Asian Restaurant', 'Fa...

In [81]:
print(len(df_types))

200

In [82]:
documents = []
for index in range(0, len(df_types)):
    documents.append(df_types.loc[index].categories_lists)

In [84]:
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(documents)

true_k = 30
model = KMeans(n_clusters = true_k, init='k-means++', max_iter=100, n_init=1)
km = model.fit(X)
df_types['retypes'] = km.labels_

In [85]:
df_types[:10]

   typeId                                   categories_lists  retypes
0       0  ['Dessert Shop', 'Ice Cream Shop', 'Bakery', '...       20
1       1  ['Beauty Salon', 'Cosmetics Store', 'Day Spa',...        6
2       2  ['Fast Food Restaurant', 'Mexican Restaurant',...        0
3       3  ['Restaurant', 'Cafe', 'Mexican Restaurant', '...        0
4       4  ['Chinese Restaurant', 'Asian Restaurant', 'Fa...        0
5       5  ['Apartment Building', 'Apartment Complex', 'P...       22
6       6  ['Latin American Restaurant', 'Mexican Restaur...        0
7       7  ['Bar', 'Cocktail Bar', 'Steak House', 'Sports...       13
8       8  ['American Restaurant', 'Bakery', 'Deli', 'Caf...        7
9       9  ['Fast Food Restaurant', 'Sandwich Shop', 'Del...        0

In [86]:
print(len(df_types))

200

In [87]:
df_types.to_csv("4029_retype_200_30_full.csv",index = False,sep = ',')

In [88]:
retype_dict = df_types[['typeId', 'retypes']]

In [89]:
retype_dict[:5]

   typeId  retypes
0       0       20
1       1        6
2       2        0
3       3        0
4       4        0

In [90]:
retype_dict.to_csv("4029_retype_200_30.csv",index = False,sep = ',')