In [5]:
import pandas as pd
import numpy as np

In [6]:
df_reviews = pd.read_csv(r'reviewssc.csv', header = 0, sep =',',names = ["gPlusPlaceId",'gPlusUserId','rating','unixReviewTime'])
df_reviews[0:5]

            gPlusPlaceId            gPlusUserId  rating unixReviewTime
0  105894249799494761247  100002060409135193563     5.0     1360448580
1  100365639541523416633  100002460517064340398     5.0     1246154310
2  101130870726907537579  100002460517064340398     5.0     1364055389
3  116343726288101618746  100002623910816163819     4.0     1385074891
4  100887731203541266259  100003840837471130074     4.0     1302881969

In [7]:
df_reviews.shape

(67357, 4)

In [8]:
df_reviews_avr = df_reviews.groupby(['gPlusPlaceId']).mean()

In [9]:
df_reviews_avr.shape

(10727, 1)

In [10]:
df_reviews_avr[:10]

                         rating
gPlusPlaceId
100002264435601337128  1.000000
100003081502560650727  3.333333
100005291831986543315  5.000000
100007381303345832988  3.666667
100007442447388544690  4.548387
100007457706738092330  4.333333
100008241700724744401  3.000000
100010035184425103894  5.000000
100013820789956610492  4.000000
100014215475045648599  5.000000

In [19]:
df_reviews_count = df_reviews.groupby(['gPlusPlaceId']).count().sort_values(['gPlusUserId'], ascending = False)

In [20]:
df_reviews_count[:10]

                       gPlusUserId  rating  unixReviewTime
gPlusPlaceId
102930680494956726639          438     438             438
113600687394360880822          284     284             284
104843458819870793031          280     280             280
110413269670370652485          256     256             256
113581272197213553471          255     255             255
114848478602803431611          250     250             250
110958093850685299665          235     235             235
100072485644272595732          228     228             228
105308490958553034112          220     220             220
101737577176762391341          209     209             209

In [21]:
df_reviews_count.shape

(10727, 3)

In [22]:
df_reviews_count.rename(columns = {'rating' : 'count'}, inplace = True)

In [23]:
df_reviews_count[:10]

                       gPlusUserId  count  unixReviewTime
gPlusPlaceId
102930680494956726639          438    438             438
113600687394360880822          284    284             284
104843458819870793031          280    280             280
110413269670370652485          256    256             256
113581272197213553471          255    255             255
114848478602803431611          250    250             250
110958093850685299665          235    235             235
100072485644272595732          228    228             228
105308490958553034112          220    220             220
101737577176762391341          209    209             209

In [24]:
df_reviews_count = df_reviews_count[['count']]
df_reviews_count[:10]

                       count
gPlusPlaceId
102930680494956726639    438
113600687394360880822    284
104843458819870793031    280
110413269670370652485    256
113581272197213553471    255
114848478602803431611    250
110958093850685299665    235
100072485644272595732    228
105308490958553034112    220
101737577176762391341    209

In [27]:
df_reviews_aver_acount = pd.merge(df_reviews_avr, df_reviews_count, how = 'right', on = 'gPlusPlaceId')

In [28]:
df_reviews_aver_acount[:10]

                         rating  count
gPlusPlaceId
100002264435601337128  1.000000      1
100003081502560650727  3.333333      3
100005291831986543315  5.000000      1
100007381303345832988  3.666667     21
100007442447388544690  4.548387     31
100007457706738092330  4.333333      3
100008241700724744401  3.000000      2
100010035184425103894  5.000000      1
100013820789956610492  4.000000      3
100014215475045648599  5.000000      4

In [30]:
df_reviews_aver_acount.shape

(10727, 2)

In [31]:
df_places = pd.read_csv(r'places_scc.csv', header = 0, sep = '\t')

In [32]:
df_places[0:5]

                          name           gPlusPlaceId   latitude   longitude
0               b'Merry Maids'  116167008685876949080  37.428433 -122.072381
1                 b'ClickAway'  109313049343702688278  37.397753 -122.107742
2      b'Arroyo Animal Clinic'  105002697535923134513  37.352790 -122.003012
3  b'Williams Cutlery & Gifts'  110907461902274791474  37.261032 -121.928556
4               b'Kenzo Sushi'  108154014110798888312  37.254326 -121.831140

In [33]:
df_places.shape

(10727, 4)

In [34]:
df_places_category = pd.read_csv(r'reviews_categaries.csv', header = 0, sep = ',')

In [35]:
df_places_category[:5]

            gPlusPlaceId          categaries
0  108103314380004200232     Giải Trí - Café
1  102194128241608748649     Turkish Cuisine
2  101409858828175402384             Fishing
3  101409858828175402384  Pond Fish Supplier
4  101409858828175402384      Seafood Market

In [36]:
df_places_category.shape

(17968739, 2)

In [37]:
df_places_category_filter = df_places_category.drop_duplicates()

In [38]:
df_places_category_filter.shape

(4680492, 2)

In [39]:
df_sorted_categaries = df_places_category.groupby(['categaries']).count().sort_values(['gPlusPlaceId'], ascending=False)

In [40]:
df_sorted_categaries[:10]

                      gPlusPlaceId
categaries
Restaurant                 1116843
Hotel                       543819
European Restaurant         525714
Asian Restaurant            473580
American Restaurant         433976
Italian Restaurant          423744
Bar                         364460
Pizza Restaurant            333270
Fast Food Restaurant        307823
Cafe                        257379

In [41]:
df_reviews_aver_acount[:5]

                         rating  count
gPlusPlaceId
100002264435601337128  1.000000      1
100003081502560650727  3.333333      3
100005291831986543315  5.000000      1
100007381303345832988  3.666667     21
100007442447388544690  4.548387     31

In [42]:
df_places[:5]

                          name           gPlusPlaceId   latitude   longitude
0               b'Merry Maids'  116167008685876949080  37.428433 -122.072381
1                 b'ClickAway'  109313049343702688278  37.397753 -122.107742
2      b'Arroyo Animal Clinic'  105002697535923134513  37.352790 -122.003012
3  b'Williams Cutlery & Gifts'  110907461902274791474  37.261032 -121.928556
4               b'Kenzo Sushi'  108154014110798888312  37.254326 -121.831140

In [44]:
df_places.shape

(10727, 4)

In [43]:
df_reviews_aver_acount[:5]

                         rating  count
gPlusPlaceId
100002264435601337128  1.000000      1
100003081502560650727  3.333333      3
100005291831986543315  5.000000      1
100007381303345832988  3.666667     21
100007442447388544690  4.548387     31

In [45]:
df_reviews_aver_acount.shape

(10727, 2)

In [46]:
df_reviews_final_rating_count = pd.merge(df_places, df_reviews_aver_acount, how = 'left', on = 'gPlusPlaceId')

In [47]:
df_reviews_final_rating_count[:5]

,name,gPlusPlaceId,latitude,longitude,rating,count
0,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000,2
1,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6
2,b'Arroyo Animal Clinic',105002697535923134513,37.352790,-122.003012,5.000000,2
3,b'Williams Cutlery & Gifts',110907461902274791474,37.261032,-121.928556,5.000000,2
4,b'Kenzo Sushi',108154014110798888312,37.254326,-121.831140,4.285714,14

In [49]:
df_reviews_final_rating_count.shape

(10727, 6)

In [50]:
df_reviews_final_rating_count_categories = pd.merge(df_reviews_final_rating_count, df_places_category, how = 'left', on = 'gPlusPlaceId')

In [51]:
df_reviews_final_rating_count_categories[:10]

,name,gPlusPlaceId,latitude,longitude,rating,count,categaries
0,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000,2,Cleaning Service
1,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000,2,Carpet Cleaning Service
2,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000,2,Cleaning Service
3,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000,2,Carpet Cleaning Service
4,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Computer Repair Service
5,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Electronics Store
6,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Cell Phone Store
7,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Computer Repair Service
8,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Electronics Store
9,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Cell Phone Store

In [53]:
df_reviews_final_rating_count_categories.shape

(125769, 7)

In [54]:
df_reviews_final_rating_count_categories = df_reviews_final_rating_count_categories.drop_duplicates()

In [55]:
df_reviews_final_rating_count_categories.shape

(18791, 7)

In [56]:
df_reviews_final_rating_count_categories[:5]

,name,gPlusPlaceId,latitude,longitude,rating,count,categaries
0,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000,2,Cleaning Service
1,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000,2,Carpet Cleaning Service
4,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Computer Repair Service
5,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Electronics Store
6,b'ClickAway',109313049343702688278,37.397753,-122.107742,4.333333,6,Cell Phone Store

In [58]:
df_reviews_final_rating_count_categories.shape

(18791, 7)

In [59]:
df_reviews_final_rating_count_categories.to_csv("0429_places_rating_count_categories.csv",index=False,sep=',')

In [ ]:
#draft below:

In [50]:
def displayNearByPlaces(latitude, longitude):
    df_places_nearby = df_reviews_final[(df_reviews_final.latitude <= latitude + 0.0025) 
                                      & (df_reviews_final.latitude >= latitude - 0.0025)
                                      & (df_reviews_final.longitude <= longitude + 0.0025)
                                      & (df_reviews_final.longitude >= longitude - 0.0025)]
    #df_places_nearby = df_reviews_final[df_reviews_final.latitude == 37.428433]
    return df_places_nearby

In [51]:
df_places_nearby = displayNearByPlaces(37.428433, -122.072381)
df_places_nearby.shape

(7, 5)

In [52]:
df_places_nearby

,name,gPlusPlaceId,latitude,longitude,rating
0,b'Merry Maids',116167008685876949080,37.428433,-122.072381,4.000000
2553,b'Artxit.com',102776183318036815589,37.428434,-122.072382,5.000000
3418,b'Beta C Cafe',103381098624365561749,37.426028,-122.072124,3.000000
4110,b'Google Incorporated',117034990325326364615,37.426961,-122.071136,4.230769
4714,b'Symantec Corporation',107180731685776764366,37.428434,-122.072382,3.800000
6664,b'AV Pros',106599883560510538576,37.428433,-122.072381,5.000000
7398,b'Baadal Cafe',108240171159839146834,37.426895,-122.070841,4.333333