In [1]:
import pandas as pd
import ast
import json

## Load the reviews data and business data, waite for a future processing

In [2]:
review_df = pd.read_csv('reviews.csv',sep=',')
review_df.head()
review_df.shape

(11453845, 4)

In [3]:
places_scc_df = pd.read_csv('places_scc.csv',delimiter="\t")
places_scc_df.head()

                          name           gPlusPlaceId   latitude   longitude
0               b'Merry Maids'  116167008685876949080  37.428433 -122.072381
1                 b'ClickAway'  109313049343702688278  37.397753 -122.107742
2      b'Arroyo Animal Clinic'  105002697535923134513  37.352790 -122.003012
3  b'Williams Cutlery & Gifts'  110907461902274791474  37.261032 -121.928556
4               b'Kenzo Sushi'  108154014110798888312  37.254326 -121.831140

## Generate a list of gPlusPlaceId belong to Santa Clara County

In [4]:
placeId = places_scc_df['gPlusPlaceId']
placeId.head()

0    116167008685876949080
1    109313049343702688278
2    105002697535923134513
3    110907461902274791474
4    108154014110798888312
Name: gPlusPlaceId, dtype: object

In [5]:
placeId.shape

(10727,)

## Filter reviews data by the placeID list

In [6]:
reviewssc = review_df[review_df['gPlusPlaceId'].isin(placeId)]
reviewssc.head()

               gPlusPlaceId            gPlusUserId  rating unixReviewTime
1322  105894249799494761247  100002060409135193563     5.0     1360448580
1530  100365639541523416633  100002460517064340398     5.0     1246154310
1531  101130870726907537579  100002460517064340398     5.0     1364055389
1639  116343726288101618746  100002623910816163819     4.0     1385074891
2648  100887731203541266259  100003840837471130074     4.0     1302881969

In [7]:
reviewssc.shape

(67357, 4)

In [8]:
place_rating = reviewssc.groupby('gPlusPlaceId')['rating'].count().reset_index().sort_values('rating',ascending=False)
place_rating.head()

               gPlusPlaceId  rating
1681  102930680494956726639     438
7905  113600687394360880822     284
2816  104843458819870793031     280
6016  110413269670370652485     256
7892  113581272197213553471     255

In [9]:
place_rating.describe()

             rating
count  10727.000000
mean       6.279202
std       14.425821
min        1.000000
25%        1.000000
50%        2.000000
75%        6.000000
max      438.000000

### Write the filtered data into CSV file

In [10]:
reviewssc.to_csv("reviewssc.csv",index=False,sep=',')

In [11]:
# check the file it generate
test = pd.read_csv('reviewssc.csv',sep=',')
test.head()

            gPlusPlaceId            gPlusUserId  rating unixReviewTime
0  105894249799494761247  100002060409135193563     5.0     1360448580
1  100365639541523416633  100002460517064340398     5.0     1246154310
2  101130870726907537579  100002460517064340398     5.0     1364055389
3  116343726288101618746  100002623910816163819     4.0     1385074891
4  100887731203541266259  100003840837471130074     4.0     1302881969

## Generate the categaries data belong to the Santa Clara County

In [12]:
categories = pd.read_csv("reviews_categaries.csv",sep=',')
categories.head()

            gPlusPlaceId          categaries
0  108103314380004200232     Giải Trí - Café
1  102194128241608748649     Turkish Cuisine
2  101409858828175402384             Fishing
3  101409858828175402384  Pond Fish Supplier
4  101409858828175402384      Seafood Market

In [13]:
categories.shape

(17968739, 2)

In [14]:
reviewssc_categories = categories[categories['gPlusPlaceId'].isin(placeId)]
reviewssc_categories.shape

(125725, 2)

### To see the categories contain how many types of business places

In [15]:
a = reviewssc_categories['categaries'].unique()
len(a)

1597

In [16]:
reviewssc_categories.to_csv("reviewssc_categories.csv",index=False,sep=',')

## Load the user data

In [17]:
user_df = pd.read_csv("UserInfo.csv",sep=',')
user_df.shape

(3144, 2)

### get the reviewers list that have rating in Santa Clara County

In [18]:
userId = reviewssc['gPlusUserId'].unique()
len(userId)

26330

### Filter out the reviewer in the city that the city name the same as Santa Clara County fifth cities

In [19]:
new_user = user_df[user_df['gPlusUserId'].isin(userId)]
new_user.shape

(1979, 2)

In [20]:
new_user.to_csv("filtered_users.csv",index=False,sep=',')

### Get the reviews data that belong to Santa Clara County citizens

In [21]:
filtered_user =  pd.read_csv("filtered_users.csv",sep=',')
filtered_user.shape

(1979, 2)

In [22]:
reviewssc_user = reviewssc[reviewssc['gPlusUserId'].isin(filtered_user['gPlusUserId'])]
reviewssc_user.shape
reviewssc_user.to_csv("filtered_reviews_byUser.csv",index=False,sep=',')